<%- include("./partials/header") %>

<h1 class="p-20" >hello kesh</h1>
<form action="/hisaab/create" method="post" >
    <input type="text" name="title">
    <input type="text" name="description">
</form>

<%- include("./partials/footer") %>