
<%- include("./partials/header") %>
<div class="logincontainer mt-40 w-full h-[80%] flex gap-11 items- justify-center">
    <div class="loginpanel">
        
        <h3 class="text-2xl mb-3">Create account </h3>
        <form  action="/register" class="flex flex-col gap-5 items-start" method="post">
            <input class="block px-3 py-2 border-[1px] outline-blue-700 text-xl border-zinc-100 rounded-md" type="email" name="email" placeholder="Email">
            <input class="block px-3 py-2 border-[1px] outline-blue-700 text-xl border-zinc-100 rounded-md" type="text" name="username" placeholder="username">
            <input class="block px-3 py-2 border-[1px] outline-blue-700 border-zinc-100 text-xl rounded-md" type="password" name="password" placeholder="password">
            <input type="submit" class="block px-3 py-2 text-xl  bg-blue-600 text-white rounded-md text-wrap">
        </form>
        <a class="text-blue-700 text-xl block mt-3 text-bold" href="/register"> have an account ?</a>

</div>
</div>

<%- include("./partials/footer") %>